@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Demo VMN+</h1>
    <p class="lead">Este es un pequeño proyecto web desarrollado internamente dentro de la empresa por el desarrollador Gerónimo Pérez Salas, con la finalidad de demostrar conceptos básicos de programación en C#, aplicado en un ejercicio práctico de un simple CRUD de clientes.</p>
    <p class="lead">Tecnologías aplicadas: 
     </br> + HTML5, CSS3 (Bootstrap), Javascript (AngularJS 1.5)
     </br> + ASP.NET Web API 2 (RESTful JSON Services)
     </br> + ADO.NET Entity Framework 6.0 DataModel
     </br> + MS SQL Server 2014 Database
    </p>
</div>
